* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

body {
    font-family: 'Nunito',
        sans-serif;
    color: #000;
    background: #fff;
    line-height: normal;
    letter-spacing: normal;
    font-style: normal;
}

ul {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-align: center;
}

button {
    cursor: pointer;
}

.printivo-container {
    padding: 0 50px;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER SECTION */
.header {
    background: #F1F5F8;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    max-width: 100%;
    height: 60px;
}

.header-btn {
    background: #209FED;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 8px;
    border: 1px solid #209FED;
    padding: 10px 20px;
}

@media screen and (max-width:991px) {
    .header {
        padding: 20px;
    }
}

/* HEADER SECTION */

/* HERO SECTION */
.hero {
    background: url(img/Rectangle.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
}

.hero-detail {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.hero-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0.05em;
    max-width: 1048px;
    margin: 0 auto 30px;
}

.hero-title>span {
    color: #0f2795;
}

.hero-subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1px;
    max-width: 580px;
    margin: 0 auto 30px;
}

.hero-btn {
    background: #209FED;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 8px;
    border: 1px solid #209FED;
    padding: 18px 100px;
}

@media screen and (max-width:991px) {
    .hero-container {
        max-width: 80rem;
        padding: 0 20px;
    }

    .hero-title {
        font-size: 50px;
        line-height: normal;
    }

    .hero-subtitle {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .hero-title {
        font-size: 40px;
    }

    .header-logo{
        height: 50px;
    }

    .hero-subtitle {
        font-size: 18px;
    }
}

/* HERO SECTION */

/* SERVICE SECTION */
.service {
    padding: 80px 0 0;
}

.step-line {
    border: 1px solid #E2E4E8;
    margin-bottom: 80px;
}

.service-head {
    font-size: 35px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.service-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.service-img-box {
    justify-content: center;
    align-items: center;
    display: flex;
}

.service-img {
    max-width: 100%;
    height: auto;
}

.service-detail-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.service-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.service-detail-description {
    text-align: left;
    margin: 0 20px;
}

.service-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #1C1D21;
}

.service-subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: #22292F;
}

@media screen and (max-width: 991px) {
    .service-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .service-title {
        font-size: 22px;
    }

    .service-subtitle {
        font-size: 18px;
    }

    .service-detail {
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 768px) {
    .service-title {
        font-size: 20px;
    }

    .service-subtitle {
        font-size: 16px;
    }

    .service-head {
        font-size: 30px;
    }

}

/* SERVICE SECTION */

/* STEP SECTION  */
.step {
    padding: 80px 0 0;
}

.step-head {
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1px;
    max-width: 677px;
    margin: 0 auto 20px;
}

.step-subhead {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #22292F;
    margin: 0 auto 50px;
    max-width: 530px;
}

.step-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

.step-box {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.step-image {
    background: #209FED;
    box-shadow: 0px 32px 54px 0px #258AFF39;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.step-img {
    width: 40px;
    height: 40px;
}

.step-title,
.step-description {
    text-align: left;
}

.step-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    color: #1D293F;
    margin-bottom: 30px;
}

.step-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #22292F;
}

@media screen and (max-width: 991px) {
    .step-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .step-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .step-head {
        font-size: 30px;
        line-height: 30px;
    }

    .step-subhead {
        line-height: 25px;
    }

    .step-image {
        margin-bottom: 15px;
    }

    .step-box {
        margin: 20px 0;
    }

    .step-title {
        font-size: 20px;
        line-height: normal;
        margin-bottom: 10px;
    }

    .step-description {
        font-size: 18px;
        line-height: normal;
    }
}


/* STEP SECTION  */

/* CTA SECTION */
.cta {
    background: url(img/cta\ bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 80px 0;
}

.cta-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-head {
    font-size: 33px;
    font-weight: 700;
    line-height: 50px;
    color: #fff;
    max-width: 670px;
    margin: 0 auto 20px;
}

.cta-subhead {
    font-size: 22px;
    font-weight: 400;
    line-height: 46px;
    color: #F7F8FA;
    margin-bottom: 50px;
}

.cta-btn {
    background: #209FED;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius: 8px;
    border: 1px solid #209FED;
    padding: 18px 50px;
}

@media screen and (max-width:768px) {
    .cta-head {
        font-size: 30px;
        line-height: 35px;
    }

    .cta-subhead {
        font-size: 20px;
        line-height: normal;
        margin-bottom: 30px;
    }
}

/* CTA SECTION */

/* PARTNERS SECTION */
.partner {
    padding: 80px 0;
}

.partner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partner-head {
    font-size: 35px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 1px;
    max-width: 416px;
    margin: 0 auto 10px;
}

.partner-subhead {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    max-width: 530px;
    margin: 0 auto 50px;
    color: #22292F;
}

.partner-img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width:768px) {
    .partner-head {
        font-size: 30px;
        line-height: 40px;
    }

    .partner-subhead {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 30px;
    }
}

/* PARTNERS SECTION */

/* FOOTER SECTION */
.footer {
    padding: 80px 0 0;
    background: #F1F5F8;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 80px;
}

.footer-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #1D293F;
}

.footer-link {
    color: #7C8087;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    transition: all 0.5s ease;
}

.footer-link:hover {
    color: #1D293F;
    transition: all 0.5s ease;
}

.input-img {
    padding-left: 20px;
}

.input-container {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    align-items: center;
    height: 73px;
    width: 413px;
    border-radius: 4px;
}

input[type=email],
.input-button {
    padding: 20px;
}

input[type=email] {
    flex-grow: 2;
    outline: none;
    border: none;
    font-size: 1rem;
}

.input-button {
    color: #fff;
    border: 1px solid #fff;
    background-color: #209FED;
    border-radius: 5px;
    margin-right: 2px;
}

.input-button:hover {
    color: #fff;
    transition: all.25s ease-in-out;
    background-color: #209FED;
}

input[type=email]::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #7C8087;
}

.footer-copyright {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #D7D7D7;
    padding-bottom: 30px;
}

@media screen and (max-width: 991px) {
    .footer-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }

    .input-img {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .input-container {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        align-items: flex-start;
        height: auto;
        width: 100%;
        border-radius: 4px;
    }

    .input-button {
        margin: 10px 0 0 0;
    }
}

@media screen and (max-width: 480px) {
    .footer-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

}

/* FOOTER SECTION */


@media screen and (max-width: 991px) {
    .printivo-container {
        max-width: 80rem;
        padding: 0 20px;
    }
}